* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu";
  display: -ms-grid;
  display: grid;
      grid-template-areas: " header" "nav" "main" "footer";
  margin: 0;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 110px;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1004px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  height: 100%;
}

@media screen and (min-width: 821px) {
  header .header__content {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1004px) {
  header .header__content {
    width: 1004px;
  }
}

@media screen and (max-width: 820px) {
  header .header__content {
    width: 100vw;
  }
}

header a {
  width: 300px;
  height: 100%;
  display: block;
  position: relative;
  margin-top: 10px;
}

header a img {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  top: -50px;
}

@media screen and (max-width: 820px) {
  header div {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 40px;
    height: 40px;
  }
  header div i {
    color: #00386a;
  }
}

@media screen and (min-width: 821px) {
  header div {
    display: none;
  }
}

.clickedUser {
  -webkit-text-stroke-color: #00386a !important;
}

.clickedUser.border {
  background: transparent;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  color: #fff;
  background-color: #002d70;
  height: 150px;
}

@media screen and (min-width: 821px) {
  nav {
    height: 200px;
  }
}

nav .nav__content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1004px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  padding: 0;
  z-index: 2;
}

@media screen and (min-width: 821px) {
  nav .nav__content {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1004px) {
  nav .nav__content {
    width: 1004px;
  }
}

@media screen and (max-width: 820px) {
  nav .nav__content {
    width: 100vw;
  }
}

nav .nav__button {
  display: none;
}

nav .nav__navigation {
  width: 100%;
}

nav .nav__navigation--main {
  background-color: #002d70;
  border-radius: 0 0 0 30px;
  text-transform: uppercase;
  height: 50%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__navigation--sub {
  background-color: #16569e;
  font-weight: bold;
  border-radius: 0 30px 0 0;
  font-size: 1rem;
  height: 50%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 821px) {
  nav .nav__navigation {
    width: 63%;
  }
  nav .nav__navigation--main {
    background-color: #002d70;
    border-radius: 0 0 0 30px;
    text-transform: uppercase;
    height: 38%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav__navigation--sub {
    background-color: #16569e;
    font-weight: bold;
    border-radius: 0 30px 0 0;
    font-size: 1rem;
    height: 62%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .nav__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

@media screen and (max-width: 498px) {
  nav .nav__navigation ul {
    font-size: 0.75rem;
    font-weight: initial;
    overflow-x: visible;
  }
}

nav .nav__navigation ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
  vertical-align: center;
  padding: 0 5px 5px;
}

nav .nav__navigation ul li .dropbtn {
  height: 70px;
}

nav .nav__navigation ul li .dropbtn:hover {
  background-color: #011647;
}

nav .nav__navigation ul li.sub__link {
  border-bottom: 1px solid transparent;
}

nav .nav__navigation ul li.sub__link:hover {
  border-bottom: 1px solid #fff;
}

nav .nav__navigation ul li i {
  margin-right: 10px;
}

nav .nav__navigation ul li i.border {
  background: transparent;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

nav .nav__navigation ul li a {
  color: #fff;
  text-decoration: none;
}

nav .nav__navigation ul li:hover i {
  background: transparent;
  color: white;
  -webkit-text-stroke-width: initial;
}

nav .nav__navigation ul li:hover a {
  color: #fff;
  text-decoration: none;
}

nav .nav__profile {
  position: relative;
}

@media screen and (max-width: 820px) {
  nav .nav__profile {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #002d70;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  nav .nav__profile--header {
    display: none;
  }
  nav .nav__profile--data {
    height: 150px;
    padding-left: 30px;
    background: -webkit-gradient(linear, left top, right top, from(#002d70), to(#16569e));
    background: linear-gradient(90deg, #002d70, #16569e);
  }
  nav .nav__profile--data.profileInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav__profile--data.profileInfo .profileInfo__photo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav .nav__profile--data.profileInfo .profileInfo__photo img {
    height: auto;
    width: 100%;
  }
  nav .nav__profile--data.profileInfo .profileInfo__info {
    margin-left: 15px;
  }
  nav .nav__profile--data.profileInfo .profileInfo__info h5,
  nav .nav__profile--data.profileInfo .profileInfo__info p {
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 821px) {
  nav .nav__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #002d70;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 40px;
    width: 35%;
  }
  nav .nav__profile--header {
    padding-bottom: 10px;
    padding-top: 30px;
    margin: 0;
  }
  nav .nav__profile--data {
    border: 1px solid white;
    border-right: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 15px;
    margin: 0;
    background: -webkit-gradient(linear, left top, right top, from(#002d70), to(#16569e));
    background: linear-gradient(90deg, #002d70, #16569e);
  }
  nav .nav__profile--data.profileInfo {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav__profile--data.profileInfo .profileInfo__photo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav .nav__profile--data.profileInfo .profileInfo__photo img {
    height: auto;
    width: 100%;
  }
  nav .nav__profile--data.profileInfo .profileInfo__info {
    margin-left: 15px;
  }
  nav .nav__profile--data.profileInfo .profileInfo__info h5,
  nav .nav__profile--data.profileInfo .profileInfo__info p {
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

.hidden {
  display: none !important;
}

#background {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 50%;
  height: 150px;
  background-color: #16569e;
  z-index: 1;
}

@media screen and (min-width: 821px) {
  #background {
    height: 200px;
  }
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

main .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1004px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 130px;
}

@media screen and (min-width: 821px) {
  main .main__content {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1004px) {
  main .main__content {
    width: 1004px;
  }
}

@media screen and (max-width: 820px) {
  main .main__content {
    width: 100vw;
  }
}

main .main__content section {
  padding-bottom: 20px;
}

main .main__content section h1 {
  font-size: 2rem;
  color: #00386a;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3dfec;
}

main .main__content section h1::after {
  content: "...";
  color: #d3dfec;
}

@media screen and (min-width: 480px) {
  main .main__content section h1::after {
    content: "";
  }
}

@media screen and (min-width: 821px) {
  main .main__content section h1 {
    font-size: 2.5rem;
  }
}

main .main__content section h1 a {
  display: none;
}

@media screen and (min-width: 480px) {
  main .main__content section h1 a {
    display: initial;
    color: #d3dfec;
    text-decoration: none;
    font-size: 1.6rem;
  }
}

main .main__content section h2 {
  font-size: 1.6rem;
  color: #00386a;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3dfec;
}

main .main__content section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

main .main__content section article h3,
main .main__content section article p {
  font-size: 1rem;
  margin: 5px;
}

main .main__content section article h3 {
  width: 200px;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #011647;
  height: 200px;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1004px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

@media screen and (min-width: 821px) {
  footer .footer__content {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1004px) {
  footer .footer__content {
    width: 1004px;
  }
}

@media screen and (max-width: 820px) {
  footer .footer__content {
    width: 100vw;
  }
}

footer .footer__content--link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
}

footer .footer__content--logo {
  width: 300px;
  height: 100%;
  display: block;
  position: relative;
  margin-top: 10px;
  left: 0;
}

footer .footer__content--logo img {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  top: -50px;
}

footer .footer__content--contact {
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.3);
          box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.3);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

footer .footer__content--contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.7rem;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.3);
          box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.3);
}

footer .footer__content--contact .contact__container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #011647;
  color: #fff;
  height: 70px;
}

footer .footer__content--contact .contact__container--header h4 {
  font-size: 1rem;
}

footer .footer__content--contact .contact__container--header i {
  color: black;
}

footer .footer__content--contact .contact__container--header i.border {
  background: transparent;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

footer .footer__content--contact .contact__container--header i:hover {
  cursor: pointer;
}

footer .footer__content--contact .contact__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

footer .footer__content--contact .contact__container--content article {
  font-size: 0.7rem;
  height: 50%;
  padding: 15px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.15);
          box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3), 0 2px 6px 2px rgba(114, 117, 140, 0.15);
}

footer .footer__content--contact .contact__container--content article h5 {
  font-size: 0.8rem;
  border-bottom: 1px solid #d3dfec;
  color: #00386a;
  margin-bottom: 15px;
}

footer .footer__content--contact .contact__container--content article p {
  font-size: 0.7rem;
  margin: 5px;
}

footer .footer__content--contact .contact__container--content article a {
  color: #00386a;
  margin: 5px;
}

@media screen and (min-width: 821px) {
  footer .footer__content--contact .contact__container--content article {
    height: 100%;
    width: 50%;
  }
  footer .footer__content--contact .contact__container--content article h5 {
    font-size: 1rem;
    border-bottom: 1px solid #d3dfec;
    color: #00386a;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  footer .footer__content--contact .contact__container--content article p {
    font-size: 0.9rem;
    margin: 5px;
  }
  footer .footer__content--contact .contact__container--content article a {
    font-size: 0.9rem;
    color: #00386a;
    margin: 5px;
  }
  footer .footer__content--contact .contact__container--content article.contact__map {
    overflow: hidden;
  }
}

@media screen and (min-width: 821px) {
  footer .footer__content--contact .contact__container--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    overflow: hidden;
  }
}

@media screen and (min-width: 821px) {
  footer .footer__content--contact .contact__container {
    width: 95%;
    max-width: 1004px;
    height: 80%;
  }
}

.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.overflowHidden {
  overflow: hidden;
}

#googleMap {
  width: 100%;
  height: 100%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
  padding-bottom: 0;
  height: 100%;
  font-size: 0.75rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #011647;
  min-width: 116px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 4px solid white;
}

.dropdown-content * {
  border-bottom: 4px solid #072c5b;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #16569e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */