//font
$font-Ubuntu: "Ubuntu";

//colors
$light-blue: #16569e;
$middle-blue: #002d70;
$dark-blue: #011647;

// Screen sizes
$screen-480: 480px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1280: 1280px;

//images
$img-height: 150px;
