//font
$font-Ubuntu: "Ubuntu";

//colors
$light-blue: #16569e;
$middle-blue: #002d70;
$dark-blue: #011647;
$font-white: #fff;
$font-blue: #00386a;
$font-light-blue: #d3dfec;
$font-black: #000;

// Screen sizes
$screen-480: 480px;
$screen-800: 800px;
$screen-1004: 1004px;
$screen-1280: 1280px;

//images
$img-height: 150px;

//Content size
$max-content: 1004px;
$nav-height: 200px;
$header-height: 140px;
$footer-height: 120px;
