@mixin block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin imgContent {
  @include size($width: 300px, $height: 100%);
  display: block;
  position: relative;
  margin-top: 10px;
  img {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    top: -50px;
  }
}

@mixin content {
  display: flex;
  max-width: $max-content;
  margin: 0 auto;
  justify-content: space-between;
  padding: 15px;
  @include breakpoint-tablet {
    width: 100%;
    margin: 0 auto;
  }
  @include breakpoint-tablet-large {
    width: $max-content;
  }

  @include breakpoint-phone {
    width: 100vw;
  }
}

@mixin flexContener($justifyContent: center, $justifyContent: center) {
  align-items: center;
  justify-content: center;
}

@mixin iconDisplay {
  &.border {
    background: transparent;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
  }
}
