@mixin block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin imgContent {
  @include size($width: 300px, $height: 100%);
  display: block;
  margin-top: 10px;
  overflow: hidden;
  img {
    display: block;
    margin: 0 auto;
    width: 50%;
    scale: 2;
  }
}

@mixin content {
  display: flex;
  width: $max-content;
  margin: 0 auto;
  justify-content: space-between;
  padding: 15px;
}

@mixin flexContener($justifyContent: center, $justifyContent: center) {
  align-items: center;
  justify-content: center;
}
