footer {
  grid-area: footer;
  justify-content: center;
  background-color: $dark-blue;
  height: 200px;
  .footer__content {
    @include content;
    align-items: center;
    height: $footer-height;
    &--link {
      color: $font-white;
      text-decoration: none;
      border-bottom: 2px solid white;
    }
    &--logo {
      @include imgContent;
      left: 0;
    }
  }
  //background for contact Modal
  .footer__content--contact {
    display: none;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
      0 2px 6px 2px rgba(114, 117, 140, 0.3);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;

    //contact Modal
    .contact__container {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 95%;
      height: 80%;
      border-radius: 10px;
      overflow: hidden;
      font-size: 0.7rem;
      background-color: white;
      box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
        0 2px 6px 2px rgba(114, 117, 140, 0.3);
      &--header {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        width: 100%;
        background-color: $middle-blue;
        color: $font-white;
        height: 70px;
        h4 {
          font-size: 1rem;
        }
        i {
          @include iconDisplay;
          color: black;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &--content {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        overflow: hidden;
        article {
          font-size: 0.7rem;
          height: 50%;
          padding: 15px;
          overflow-y: scroll;
          box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
            0 2px 6px 2px rgba(114, 117, 140, 0.15);
          h5 {
            font-size: 0.8rem;
            border-bottom: 1px solid $font-light-blue;
            color: $font-blue;
            margin-bottom: 15px;
          }
          p {
            font-size: 0.7rem;
            margin: 5px;
          }
          a {
            color: $font-blue;
            margin: 5px;
          }
          @include breakpoint-tablet {
            height: 100%;
            width: 50%;
            h5 {
              font-size: 1rem;
              border-bottom: 1px solid $font-light-blue;
              color: $font-blue;
              margin-bottom: 15px;
              padding-bottom: 10px;
            }
            p {
              font-size: 0.9rem;
              margin: 5px;
            }
            a {
              font-size: 0.9rem;
              color: $font-blue;
              margin: 5px;
            }
          }
        }
        @include breakpoint-tablet {
          flex-direction: row;
          height: 100%;
          overflow: hidden;
        }
      }
      @include breakpoint-tablet {
        width: 95%;
        max-width: $max-content;
        height: 80%;
      }
    }
  }
}

.visible {
  display: flex !important;
}

.overflowHidden {
  overflow: hidden;
}

#googleMap {
  width: 100px;
  height: 100px;
}
