footer {
  grid-area: footer;
  justify-content: center;
  color: $font-white;
  background-color: $dark-blue;
  .footer__content {
    @include content;
    a {
      color: $font-white;
      @include imgContent;
    }
  }
}
