header {
  grid-area: header;
  height: $header-height;
  .header__content {
    @include content;
    height: 100%;
  }
  a {
    @include imgContent;
  }
  div {
    @include breakpoint-phone {
      align-self: flex-end;
      width: 40px;
      height: 40px;
      i {
        color: $font-blue;
      }
    }
    @include breakpoint-tablet {
      display: none;
    }
  }
}

.clickedUser {
  @include iconDisplay;
  -webkit-text-stroke-color: $font-blue !important;
}
