nav {
  grid-area: "nav";
  .nav {
    display: flex;
    &__button {
      display: none;
    }
  }
}

ul {
  text-decoration: none;
  li {
    list-style: none;
  }
}

.hidden {
  display: none;
}
