nav {
  display: flex;
  font-size: 0.9rem;
  grid-area: nav;
  color: $font-white;
  background-color: $middle-blue;
  width: 100vw;
  height: $nav-min-height;
  @include breakpoint-tablet {
    height: $nav-height;
  }
  .nav {
    &__content {
      margin: 0;
      @include content;
      padding: 0;
      z-index: 2;
    }
    &__button {
      display: none;
    }
    &__navigation {
      width: 100%;
      &--main {
        background-color: $middle-blue;
        border-radius: 0 0 0 30px;
        text-transform: uppercase;
        height: 50%;
        margin: 0;
        @include flexContener;
      }
      &--sub {
        background-color: $light-blue;
        font-weight: bold;
        border-radius: 0 30px 0 0;
        font-size: 1rem;
        height: 50%;
        margin: 0;
        @include flexContener;
      }
      @include breakpoint-tablet {
        width: 63%;
        &--main {
          background-color: $middle-blue;
          border-radius: 0 0 0 30px;
          text-transform: uppercase;
          height: 38%;
          margin: 0;
          @include flexContener;
        }
        &--sub {
          background-color: $light-blue;
          font-weight: bold;
          border-radius: 0 30px 0 0;
          font-size: 1rem;
          height: 62%;
          margin: 0;
          @include flexContener;
        }
      }

      ul {
        @media screen and (max-width: 498px) {
          font-size: 0.75rem;
          font-weight: initial;
        }
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        li {
          align-self: center;
          list-style: none;
          vertical-align: center;
          padding: 0 5px 5px;
          .dropbtn {
            //padding: 5px 5px;
            height: 70px;

            //   color: pink;
            //   border-bottom: 4px solid transparent;
            &:hover {
              background-color: $dark-blue;
            }
          }
          &.sub__link {
            border-bottom: 1px solid transparent;
            &:hover {
              border-bottom: 1px solid $font-white;
            }
          }
          i {
            margin-right: 10px;
            @include iconDisplay;
          }
          a {
            color: $font-white;
            text-decoration: none;
          }
          &:hover {
            i {
              background: transparent;
              color: white;
              -webkit-text-stroke-width: initial;
            }
            a {
              color: $font-white;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__profile {
      position: relative;
      @include breakpoint-phone {
        position: absolute;
        display: flex;
        background-color: $middle-blue;
        display: flex;
        flex-direction: column;
        width: 100%;
        &--header {
          display: none;
        }
        &--data {
          height: $nav-min-height;
          padding-left: 30px;
          background: linear-gradient(90deg, $middle-blue, $light-blue);
          &.profileInfo {
            display: flex;
            align-items: center;
            .profileInfo__photo {
              height: 80px;
              width: 80px;
              border-radius: 40px;
              margin: 0;
              padding: 0;
              overflow: hidden;
              img {
                height: auto;
                width: 100%;
              }
            }
            .profileInfo__info {
              margin-left: 15px;
              h5,
              p {
                margin: 0 auto;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
      @include breakpoint-tablet {
        display: flex;
        background-color: $middle-blue;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 40px;
        width: 35%;
        &--header {
          padding-bottom: 10px;
          padding-top: 30px;
          margin: 0;
        }
        &--data {
          border: 1px solid white;
          border-right: none;
          display: flex;
          height: 100%;
          padding: 15px;
          margin: 0;
          background: linear-gradient(90deg, $middle-blue, $light-blue);
          &.profileInfo {
            height: 120px;
            display: flex;
            justify-content: start;
            align-items: center;
            .profileInfo__photo {
              height: 80px;
              width: 80px;
              border-radius: 40px;
              margin: 0;
              padding: 0;
              overflow: hidden;
              img {
                height: auto;
                width: 100%;
              }
            }
            .profileInfo__info {
              margin-left: 15px;
              h5,
              p {
                margin: 0 auto;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

#background {
  position: absolute;
  top: $header-height;
  left: 0px;
  width: 50%;
  height: $nav-min-height;
  background-color: $light-blue;
  z-index: 1;
  @include breakpoint-tablet {
    height: $nav-height;
  }
}
